input {
	file {
		path => "/Users/vijayleom/sample.log"
		start_position => "beginning"
	}

        file {
                path => "/Users/vijayleom/sample_other.log"
                start_position => "beginning"
        }
}

output {
	stdout { codec => rubydebug }
	elasticsearch { 
		hosts => ["localhost:9200"] 
		index => "leo_logger_test" 
	}
}
